<header>
    <h1>Header</h1>
    <nav>
        <ul>
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Home</a>
            </li>
            <li>
                <a
                    routerLink="/cr"
                    routerLinkActive="active"
                    >Costa Rica</a>
            </li>
            <li>
                    <a
                        routerLink="/beaches"
                        routerLinkActive="active"
                        >Beaches</a>
                </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <p>Footer</p>
</footer>
